# This is Git's per-user configuration file.
[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Alyssa Ross
	email = hi@alyssa.is
	signingkey = 9EA786B5
[alias]
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[push]
	default = current
[merge]
	conflictstyle = diff3
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[commit]
	gpgsign = true
[help]
	autocorrect = 1
[transfer]
  fsckobjects = true
[fetch]
  fsckobjects = true
[receive]
  fsckObjects = true
