[submodule ".config/weechat/script/wee-slack"]
	path = .config/weechat/script/wee-slack
	url = https://github.com/wee-slack/wee-slack.git
[submodule ".config/weechat/script/weechat-autosort"]
	path = .config/weechat/script/weechat-autosort
	url = https://github.com/de-vri-es/weechat-autosort.git
[submodule ".config/weechat/script/official"]
	path = .config/weechat/script/official
	url = https://github.com/weechat/scripts.git
[submodule ".config/kak/eslint-formatter-kakoune"]
	path = .config/kak/eslint-formatter-kakoune
	url = git@github.com:Delapouite/eslint-formatter-kakoune.git
